@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

.ContentListening {
    width: 100%;
    position: relative;
    font-family: 'anw';
    font-size: 16px;
    font-weight: 400;
    color: #fff;

    &__Container {
        max-width: 1600px;
        width: 100%;
        padding: 0 10px 0;
        margin: 0 auto;
    }

    &__Wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}

.ListenMusicInfo {
    width: 100%;
    padding: 0 10px 0 80px;

    &__Content {
        width: 100%;
        // display: flex;
        // align-items: self-start;
        // gap: 50px;
        display: grid;
        grid-template-columns: 350px auto;
        gap: 50px;
        margin-bottom: 50px;

        &__Preview {
            max-width: 350px;
            width: 100%;
            max-height: 350px;
            height: 350px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            overflow: hidden;
            background-color: #000;

            &__Img {
                // display: inline-flex;
                // width: fit-content;
                // height: 100%;
                position: relative;
                max-width: 100%;
                max-height: 100%;
                width: auto;
                height: auto;
                object-fit: contain;
            }
        }

        &__Management {
            max-width: 600px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            &__Info {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;

                &__Type {
                    color: rgba(#fff, .5);
                    margin-bottom: 20px;
                }

                &__Title {
                    font-size: 40px;
                    font-weight: 600;
                    margin-bottom: 10px;
                }

                &__AuthorName {
                    font-size: 20px;
                    font-weight: 600;
                    color: rgba(#fff, .5);
                }
            }

            &__Menu {
                margin: auto 0 0;
                display: flex;
                align-items: center;
                gap: 15px;

                > button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 5px;
                    padding: 5px 10px;
                    border-radius: 24px;
                    font-size: 18px;
                    font-weight: 500;

                    &:hover {
                        background-color: rgba(#fff, .1);
                    }
                }

                &__BtnListen {
                    width: 150px;
                    background-color: rgba(#00FF1E, .65);
                    color: #fff;

                    &:hover {
                        background-color: rgba(#00FF1E, .8) !important;
                    }
                }

                &__BtnSpeed {
                    width: 150px;
                    background-color: rgba(#2e2e2e, 1);
                    color: #fff;
                }

                &__BtnReplay {
                    max-width: 150px;
                    width: auto;
                    background-color: rgba(#2e2e2e, 1);
                    color: #fff;
                }

                &__BtnMenu {
                    max-width: 150px;
                    width: auto;
                    height: 41px;
                    background-color: rgba(#2e2e2e, 1);
                    color: #fff;
                }
            }
        }
    }

    &__Desc {
        max-width: 950px;
        width: 100%;

        &__Wrapper {
            width: 100%;
            padding: 20px;
            border-radius: 24px;
            background-color: rgba(#fff, .1);
        }

        &__MusicDesc {
            width: 100%;
            display: inline-flex;
        }
    }
}

.Popover {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > button {
        width: 100%;
        padding: 5px;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
        background-color: #2e2e2e;

        &:hover {
            background-color: rgba(#fff, .1);
        }

        &:nth-child(-n + 1) {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        &:nth-last-child(-n + 1) {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }

    &__BtnSpeed,
    &__BtnReplay {
        display: none !important;
    }
}

.ListenOrder {
    max-width: 390px;
    width: 100%;

    &__Container {
        width: 100%;
        padding: 0 10px;
    }

    &__Top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        &__Title {
            font-size: 24px;
            font-weight: 600;
        }

        &__BtnDelete {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            max-width: 150px;
            width: auto;
            padding: 5px 10px;
            font-size: 18px;
            font-weight: 500;
            color: #fff;
            background-color: #2e2e2e;
            border-radius: 24px;

            &:hover {
                background-color: rgba(#fff, .1);
            }
        }
    }

    &__List {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__Item {
            width: 100%;
        }
    }
}

.orderItem {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px;

    &__Preview {
        width: 80px;
        min-width: 80px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: #000;
        border-radius: 8px;
        position: relative;

        > img {
            position: relative;
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            object-fit: contain;
            // display: inline-flex;
            // width: fit-content;
            // height: 100%;
        }

        &__Active {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #1e1e1e;
            z-index: 2;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;

            &__Circle {
                width: 10px;
                height: 10px;
                background-color: rgba(#00FF1E, .65);
                border-radius: 100px;
                animation: activeMusic 1s linear infinite alternate 0s forwards;
            }
        }
    }

    &__Text {
        display: flex;
        flex-direction: column;
        text-decoration: none;

        &__Title {
            font-size: 18px;
            font-weight: 900;
            color: #fff;
        }

        &__AuthorLink {
            font-size: 18px;
            color: rgba(#fff, .5);
        }
    }
}

.ListOfPlaylists {
    width: 100%;

    &__List {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__Item {
            max-width: 100%;
            width: 100%;
            display: flex;

            &__Btn {
                width: 100%;
                display: flex;
                gap: 5px;
                align-items: center;
                justify-content: center;
                padding: 10px 10px;
                background-color: transparent;
                border-radius: 12px;

                &:hover {
                    background-color: rgba(#fff, .1);
                }

                &__Preview {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    background-color: #000;
                    border-radius: 8px;
                    position: relative;

                    > img {
                        position: relative;
                        max-width: 100%;
                        max-height: 100%;
                        width: auto;
                        height: auto;
                        object-fit: contain;
                    }
                }

                &__Title {
                    width: 200px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 18px;
                    font-weight: 400;
                    color: #fff;
                }
            }
        }
    }
}

@keyframes activeMusic {
    0% {
        width: 10px;
        height: 10px;
    }
    50% {
        width: 20px;
        height: 20px;
    }
    100% {
        width: 10px;
        height: 10px;
    }
}

@media(max-width: 1600px) {
    // .ContentListening {
    //     &__Wrapper {
    //         flex-direction: column;
    //         gap: 20px;
    //     }
    // }

    .ListenMusicInfo {
        padding: 0 10px;

        &__Content {
            grid-template-columns: 250px auto;
            gap: 25px;

            &__Preview {
                max-width: 250px;
                max-height: 250px;
            }

            &__Management {
                &__Info {
                    &__Title {
                        font-size: 32px;
                    }
                }
            }
        }
    }
}

@media(max-width: 1366px) {
    .ContentListening {
        &__Wrapper {
            flex-direction: column;
            gap: 20px;
        }
    }

    .ListenMusicInfo {

        &__Content {

            &__Preview {
            }

            &__Management {
                &__Info {
                    &__Title {
                    }
                }
            }
        }
    }

    .ListenOrder {
        width: 100%;
    }
}

@media(max-width: 1024px) {
    .ContentListening {
        &__Wrapper {
        }
    }

    .ListenMusicInfo {

        &__Content {
            grid-template-columns: 150px auto;

            &__Preview {
                max-width: 150px;
                max-height: 150px;
            }

            &__Management {
                &__Info {
                    &__Title {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}

@media(max-width: 768px) {
    .ContentListening {
        &__Wrapper {
        }
    }

    .ListenMusicInfo {

        &__Content {
            grid-template-columns: 150px auto;

            &__Preview {
                max-width: 150px;
                max-height: 150px;
            }

            &__Management {
                &__Info {
                    &__Title {
                        font-size: 24px;
                    }
                }

                &__Menu {
                    gap: 5px;

                    > button {
                        font-size: 14px;

                        > img {
                            max-width: 20px;
                            width: 100%;
                        }
                    }

                    &__BtnListen,
                    &__BtnSpeed {
                        width: auto;
                    }
                }
            }
        }
    }
}

@media(max-width: 576px) {
    .ContentListening {
        &__Wrapper {
        }
    }

    .ListenMusicInfo {

        &__Content {
            grid-template-columns: 1fr;

            &__Preview {
                max-width: 300px;
                max-height: 200px;
                height: auto;
                justify-self: center;
            }

            &__Management {
                &__Info {
                    &__Title {
                        font-size: 18px;
                        font-weight: 500;
                    }

                    &__AuthorName {
                        font-size: 16px;
                        font-weight: 500;
                    }
                }

                &__Menu {

                    > button {

                        > img {
                        }
                    }

                    &__BtnListen,
                    &__BtnSpeed {
                    }
                }
            }
        }
    }
}

@media(max-width: 414px) {
    .ListenMusicInfo {

        &__Content {

            &__Preview {
            }

            &__Management {
                &__Info {
                    &__Title {
                    }
                }

                &__Menu {

                    > button {
                        font-size: 14px;

                        > img {
                        }
                    }

                    &__BtnSpeed,
                    &__BtnReplay {
                        display: none !important;
                    }
                }
            }
        }
    }

    .Popover {
        &__BtnSpeed,
        &__BtnReplay {
            display: flex !important;
        }
    }

    .orderItem {

        &__Preview {

            > img {
            }

            &__Active {

                &__Circle {
                }
            }
        }

        &__Text {

            &__Title {
                font-size: 16px;
                font-weight: 600;
            }

            &__AuthorLink {
                font-size: 16px;
            }
        }
    }
}