@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

.ContentHistory {
    position: relative;
    max-width: 100%;
    width: 100%;
    height: 100%;
    font-family: 'anw', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 100px;

    &__Container {
        width: 100%;
        max-height: 100%;
        height: 100%;
        padding: 0 10px;
        display: flex;
        flex-direction: column;

        &__Title {
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 50px;
            color: #fff;
        }

        &__Nothing {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            &__Message {
                color: #fff;
                font-size: 32px;
                font-weight: 400;
            }
        }

        &__List {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            &__Item {
                width: 500px;
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 10px;
                background-color: rgba(#fff, .1);
                border-radius: 12px;
                text-decoration: none;

                &__Preview {
                    max-width: 100px;
                    width: 100%;
                    display: flex;
                    align-items: center;

                    > img {
                        width: 100%;
                    border-radius: 12px;
                    }
                }

                &__Text {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    &__Title {
                        font-size: 18px;
                        font-weight: 600;
                        color: #fff;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    &__Desc {
                        display: flex;
                        gap: 10px;

                        &__Author {
                            font-size: 16px;
                            font-weight: 400;
                            color: #fff;
                            text-decoration: none;

                            &:hover {
                                color: rgba(#fff, .5);
                            }
                        }

                        &__Time {
                            font-size: 16px;
                            font-weight: 400;
                            color: rgba(#fff, .5);
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 860px) {
    .ContentHistory {

        &__Container {

            &__List {

                &__Item {
                    width: 300px;

                    &__Preview {
                        width: 70px;
                    }

                    &__Text {

                        &__Title {
                            font-size: 18px;
                        }

                        &__Description {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 640px) {
    .ContentHistory {

        &__Container {
            align-items: center;

            &__Title {
                font-size: 22px;
            }

            &__List {
                align-items: center;

                &__Item {
                    width: 300px;

                    &__Preview {
                        width: 70px;
                    }

                    &__Text {

                        &__Title {
                            font-size: 18px;
                        }

                        &__Description {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}