@font-face {
    font-family: 'anw';
    src: url('../../assets/fonts/Avenir-Next-World-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../assets/fonts/Avenir-Next-World-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../assets/fonts/Avenir-Next-World-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../assets/fonts/Avenir-Next-World-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../assets/fonts/Avenir-Next-World-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../assets/fonts/Avenir-Next-World-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../assets/fonts/Avenir-Next-World-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../assets/fonts/Avenir-Next-World-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../assets/fonts/Avenir-Next-World-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

.PleaseAuth {
    max-width: 500px;
    width: 100%;
    padding: 5px;
    background-color: rgba(#fff, .5);
    border-radius: 12px;
    font-family: 'anw';
    font-size: 16px;
    font-weight: 400;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;

    &__Title {
        font-size: 32px;
        font-weight: 600;
    }

    &__Link {
        display: flex;
        align-items: center;
        gap: 5px;
        text-decoration: none;
        color: #fff;

        > span {
            font-size: 18px;
            font-weight: 500;
            color: #fff;
        }
    }
}