@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

.ListOfPlaylists {
    max-width: 100%;
    width: 100%;
    position: relative;
    font-family: 'anw';
    font-size: 16px;
    font-weight: 400;
    color: #fff;

    &__List {
        width: 100%;
        display: flex;
        flex-direction: column;

        &__Item {
            max-width: 100%;
            width: 100%;
            display: flex;

            &__CreatePlaylist {
                display: flex;
                gap: 10px;

                > span {
                    font-size: 18px;
                    font-weight: 400;
                    color: #fff;
                }
            }

            &__Btn {
                width: 100%;
                display: flex;
                gap: 5px;
                align-items: center;
                justify-content: center;
                padding: 10px 10px;
                background-color: transparent;
                border-radius: 12px;

                &:hover {
                    background-color: rgba(#fff, .1);
                }

                &__Preview {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    background-color: #000;
                    border-radius: 8px;
                    position: relative;

                    > img {
                        position: relative;
                        max-width: 100%;
                        max-height: 100%;
                        width: auto;
                        height: auto;
                        object-fit: contain;
                    }
                }

                &__Title {
                    width: 200px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 18px;
                    font-weight: 400;
                    color: #fff;
                }
            }
        }
    }
}