.Layout {
    max-width: 100%;
    width: 100%;
    position: relative;
    background-color: inherit;

    &__Sub {
        width: 100%;
        position: relative;
        padding-top: 100px;
        display: flex;

        &__Sider {
            width: auto;
        }

        &__Outlet {
            width: 100%;
            display: flex;
            flex-direction: column;
            position: relative;
            padding-left: 250px;
            padding-bottom: 105px;
            overflow-y: hidden;

            &__Content {
                padding-bottom: 270px;
            }

            &__ListenControl {
                position: fixed;
                left: 250px;
                bottom: 0;
                width: calc(100% - 250px);
                z-index: 10;
            }
        }
    }
}

.ListenControl {
    width: 100%;
}

.ListenOrderMini__ContainerDisActive {
    display: none;
}

@media(max-width: 960px) {
    .Layout {
        &__Sub {
            &__Outlet {
                padding-left: 80px;

                &__ListenControl {
                    left: 0;
                    bottom: 60px;
                    width: 100%;
                }
            }
        }
    }
}

@media(max-width: 860px) {
    .Layout {
        &__Sub {
            &__Outlet {
                padding-left: 70px;

                &__ListenControl {
                    bottom: 50px;
                }
            }
        }
    }
}

@media(max-width: 640px) {
    .Layout {
        &__Sub {
            // flex-direction: column;
            // flex-direction: column-reverse;

            &__Outlet {
                padding-left: 0;
            }
        }
    }
}