@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

.ContentPlaylists {
    max-width: 100%;
    width: 100%;
    position: relative;
    font-family: 'anw';
    font-size: 16px;
    font-weight: 400;
    color: #fff;

    &__Container {
        max-width: 100%;
        width: 1440px;
        padding: 0 10px;
        margin: 0 auto;
        position: relative;

        &__Title {
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 50px;
        }

        &__List {
            display: flex;
            align-items: flex-start;
            gap: 10px;
            flex-wrap: wrap;

            &__Item {
                max-width: 210px;
                padding: 5px;
                display: flex;
                flex-direction: column;
                position: relative;
                min-height: 330px;
                max-height: 330px;
                height: 100%;
                text-decoration: none;
                color: #fff;


                &__Preview {
                    max-width: 200px;
                    width: 100%;
                    margin-bottom: 10px;

                    > img {
                        width: 100%;
                        height: auto;
                    }
                }

                &__Text {
                    position: relative;
                    display: flex;
                    flex-direction: column;

                    &__Title {
                        font-size: 18px;
                        font-weight: 500;
                        margin-bottom: 10px;
                        overflow: hidden;
                        display: -webkit-inline-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }

                    &__Description {
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 10px;
                        max-width: 200px;
                        overflow: hidden;
                        display: -webkit-inline-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }

                    &__Access {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }
            }
        }

        &__Reference {
            margin-top: 50px;
            width: 100%;
            text-align: center;
        }
    }
}

.CreatePlaylist {
    max-width: 210px;
    width: 100%;
    min-height: 330px;
    max-height: 330px;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(#fff, .1);
    border-radius: 12px;

    &:hover {
        border: 2px solid rgba(#fff, .7);

        .CreatePlaylist{
            &__Content {
                &__Circle {
                    border: 2px dashed rgba(#fff, .7);
                }

                &__Text {
                    color: rgba(#fff, 1);
                }
            }
        }
    }

    &__Content {
        width: 100%;
        margin-top: 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        &__Circle {
            width: 75px;
            height: 75px;
            border:  none;
            border-radius: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px dashed rgba(#fff, .1);
            border-radius: 100px;

            &__Img {
                width: 50%;
                height: 50%;
            }
        }

        &__Text {
            font-weight: 500;
            color: rgba(#fff, .5);
        }
    }
}

@media(max-width: 770px) {
    .ContentPlaylists {

        &__Container {

            &__Title {
                font-size: 24px;
            }

            &__List {
                justify-content: center;

                &__Item {


                    &__Preview {

                        > img {
                        }
                    }

                    &__Text {

                        &__Title {
                        }

                        &__Description {
                        }

                        &__Access {
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 480px) {
    .ContentPlaylists {

        &__Container {

            &__Title {
                font-size: 24px;
                text-align: center;
            }

            &__List {
                justify-content: center;

                &__Item {


                    &__Preview {

                        > img {
                        }
                    }

                    &__Text {

                        &__Title {
                        }

                        &__Description {
                        }

                        &__Access {
                        }
                    }
                }
            }
        }
    }
}