@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('../../../assets/fonts/Avenir-Next-World-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

.ContentFormUploads {
    width: 100%;
    height: 100%;
    padding-bottom: 100px;
    position: relative;
    font-family: 'anw';
    font-weight: 400;
    font-size: 16px;
    color: #fff;

    &__Container {
        width: 100%;
        padding: 0 10px;
        margin: 0 auto;
    }

    &__Wrapper {
        max-width: 700px;
        width: 100%;
        padding: 10px;
        border: 2px solid #fff;
        border-radius: 12px;
        margin: 0 auto;

        &__Title {
            font-size: 32px;
            font-weight: 600;
            display: flex;
            justify-content: center;
            margin-bottom: 20px;
        }

        &__Form {
            &__Preview {
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;
                padding-bottom: 10px;
                border-bottom: 1px solid #fff;
                margin-bottom: 10px;

                &__Label {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    padding-bottom: 10px;

                    &__Title {
                        font-size: 18px;
                        font-weight: 400;
                    }

                    &__ExpFile {
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        gap: 10px;

                        &__FileName {
                            width: 150px;
                            display: inline-block;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            white-space: nowrap;
                            color: yellowgreen;
                        }

                        &__FileDelete {
                            background-color: transparent;
                            padding: 5px 10px;
                            color: #fff;
                            border: 1px solid yellowgreen;
                            border-radius: 12px;
                            font-size: 16px;
                            font-weight: 400;

                            &:hover {
                                background-color: rgba(#fff, .1);
                            }
                        }

                        &__BtnUpload {
                            background-color: transparent;
                            padding: 5px 10px;
                            color: #fff;
                            border: 1px solid yellowgreen;
                            border-radius: 12px;
                            font-size: 16px;
                            font-weight: 400;
                            display: flex;
                            align-items: center;
                            gap: 5px;

                            &:hover {
                                background-color: rgba(#fff, .1);
                            }
                        }
                    }
                }

                &__Image {
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    > img {
                        max-width: 100%;
                        width: fit-content;
                        max-height: 200px;
                        height: fit-content;
                    }
                }
            }

            &__Name {
                width: 100%;
                padding-bottom: 10px;
                border-bottom: 1px solid #fff;
                margin-bottom: 20px;

                &__Label {
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;

                    > p {
                        font-size: 18px;
                        font-weight: 400;
                    }

                    > input {
                        background-color: #242424;
                        max-width: 400px;
                        width: 100%;
                        min-width: 150px;
                        padding: 5px 10px;
                        color: #fff;
                        font-size: 18px;
                        font-weight: 400;
                        border: 2px solid yellowgreen;
                        border-radius: 12px;
                    }
                }
            }

            &__Desc {
                width: 100%;
                padding-bottom: 10px;
                border-bottom: 1px solid #fff;
                margin-bottom: 20px;

                &__Label {
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;

                    > p {
                        font-size: 18px;
                        font-weight: 400;
                    }

                    > input {
                        background-color: #242424;
                        max-width: 400px;
                        width: 100%;
                        min-width: 150px;
                        padding: 5px 10px;
                        color: #fff;
                        font-size: 18px;
                        font-weight: 400;
                        border: 2px solid yellowgreen;
                        border-radius: 12px;
                    }
                }
            }

            &__Audio {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                &__Label {
                    width: 100%;
                    display: flex;
                    align-items: flex-end;
                    justify-content: space-between;
                    margin-bottom: 10px;

                    > p {
                        font-size: 18px;
                    }

                    > button {
                        background-color: transparent;
                        padding: 5px 10px;
                        color: #fff;
                        border: 1px solid yellowgreen;
                        border-radius: 12px;
                        font-size: 16px;
                        font-weight: 400;
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        &:hover {
                            background-color: rgba(#fff, .1);
                        }
                    }
                }

                &__DropZone {
                    max-width: 100%;
                    min-width: 150px;
                    height: 100%;
                    min-height: 200px;
                    padding: 0 5px;
                    border: 2px solid yellowgreen;
                    border-radius: 12px;
                    display: flex;
                    gap: 5px;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    box-shadow: none;

                    > img {
                        min-width: 50px;
                    }

                    > p {
                        max-width: 100%;
                        width: 400%;
                        text-align: center;
                        color: #9acd32;
                        overflow: hidden;
                        display: -webkit-inline-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
            }

            &__Error {
                width: 100%;
                display: flex;
                justify-content: center;
                margin-bottom: 20px;

                &__Message {
                    font-size: 18px;
                    font-weight: 400;
                    color: rgba(red, .7);
                }
            }

            &__Upload {
                width: 100%;
                display: flex;
                justify-content: center;

                &__Btn {
                    max-width: 100%;
                    min-width: 200px;
                    width: 100%;
                    padding: 10px 20px;
                    background-color: rgb(0, 143, 0);
                    border-radius: 12px;
                    color: #fff;
                    font-size: 22px;
                    font-weight: 600;
                }

                &__BtnIsPending {
                    background-color: rgba(0, 143, 0, .2);
                }
            }
        }
    }
}

@media(max-width: 640px) {
    .ContentFormUploads {

        &__Container {
        }

        &__Wrapper {

            &__Title {
            }

            &__Form {
                &__Preview {

                    &__Label {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;

                        &__Title {
                        }

                        &__ExpFile {

                            &__FileName {
                            }

                            &__FileDelete {
                            }

                            &__BtnUpload {
                            }
                        }
                    }

                    &__Image {
                    }
                }

                &__Name {

                    &__Label {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;

                        > p {
                        }

                        > input {
                        }
                    }
                }

                &__Desc {

                    &__Label {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;

                        > p {
                        }

                        > input {
                        }
                    }
                }

                &__Audio {

                    &__Label {

                        > p {
                        }

                        > button {
                        }
                    }

                    &__DropZone {

                        > img {
                        }

                        > p {
                        }
                    }
                }

                &__Upload {

                    &__Btn {
                    }

                    &__BtnIsPending {
                    }
                }
            }
        }
    }
}

@media(max-width: 420px) {
    .ContentFormUploads {

        &__Container {
        }

        &__Wrapper {

            &__Title {
                font-size: 22px;
            }

            &__Form {
                &__Preview {

                    &__Label {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;

                        &__Title {
                            font-size: 16px;
                        }

                        &__ExpFile {
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 10px;

                            &__FileName {
                                font-size: 16px;
                            }

                            &__FileDelete {
                                font-size: 16px;
                            }

                            &__BtnUpload {
                                font-size: 16px;
                            }
                        }
                    }

                    &__Image {
                    }
                }

                &__Name {

                    &__Label {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;

                        > p {
                            font-size: 16px;
                        }

                        > input {
                            font-size: 16px;
                        }
                    }
                }

                &__Desc {

                    &__Label {
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 10px;

                        > p {
                            font-size: 16px;
                        }

                        > input {
                            font-size: 16px;
                        }
                    }
                }

                &__Audio {

                    &__Label {

                        > p {
                            font-size: 16px;
                        }

                        > button {
                            font-size: 16px;
                        }
                    }

                    &__DropZone {

                        > img {
                            min-width: 20px;
                        }

                        > p {
                            font-size: 16px;
                        }
                    }
                }

                &__Upload {

                    &__Btn {
                        font-size: 16px;
                    }

                    &__BtnIsPending {
                    }
                }
            }
        }
    }
}