@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-UltraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'anw';
    src: url('/assets/fonts/Avenir-Next-World-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

.ContentSettings {
    width: 100%;
    font-family: 'anw';
    font-weight: 400;
    font-size: 16px;
    position: relative;
    color: #fff;
    padding-bottom: 100px;

    &__Container {
        max-width: 1440px;
        width: 100%;
        padding: 0 10px;
        margin: 0 auto;
    }

    &__Wrapper {
        width: 100%;

        &__Title {
            font-size: 42px;
            font-weight: 600;
            margin-bottom: 20px;
            color: #fff;
        }

        &__FormAccount {
            width: 100%;
            margin-bottom: 20px;

            &__Title {
                font-size: 28px;
                font-weight: 500;
                margin-bottom: 20px;
                padding-bottom: 10px;
                border-bottom: 1px solid #fff;
            }

            &__Form {
                max-width: 500px;
                margin: 0 auto;
                width: 100%;

                &__Avatar {
                    width: 100%;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                    padding-bottom: 10px;
                    margin-bottom: 20px;

                    &__Img {
                        min-width: 100px;
                        width: 100px;
                        min-height: 100px;
                        height: 100px;
                        border: 1px solid #fff;
                        border-radius: 100%;
                        display: flex;
                        justify-content: center;
                        overflow: hidden;

                        > img {
                            width: fit-content;
                        }
                    }

                    > button {
                        max-width: 200px;
                        min-width: 100px;
                        width: 100%;
                        padding: 10px 20px;
                        background-color: green;
                        border-radius: 12px;
                        color: #fff;
                        font-size: 18px;
                        font-weight: 400;
                    }
                }

                &__Name {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding-bottom: 10px;
                    margin-bottom: 20px;

                    > p {
                        font-size: 18px;
                    }

                    > input {
                        background-color: #242424;
                        max-width: 300px;
                        width: 100%;
                        min-width: 150px;
                        padding: 5px 10px;
                        color: #fff;
                        font-size: 18px;
                        font-weight: 400;
                        border: 2px solid yellowgreen;
                        border-radius: 12px;
                    }
                }

                &__Desc {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    padding-bottom: 10px;
                    margin-bottom: 20px;

                    > p {
                        font-size: 18px;
                    }

                    > textarea {
                        background-color: #242424;
                        max-width: 300px;
                        width: 100%;
                        min-width: 150px;
                        max-height: 300px;
                        min-height: 150px;
                        height: 200px;
                        resize: vertical;
                        padding: 5px 10px;
                        color: #fff;
                        font-size: 18px;
                        font-weight: 400;
                        border: 2px solid yellowgreen;
                        border-radius: 12px;
                    }
                }

                &__Error {
                    width: 100%;
                    padding-bottom: 20px;

                    > p {
                        font-size: 18px;
                        font-weight: 500;
                        color: red;
                    }
                }

                &__Save {
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    > button {
                        max-width: 200px;
                        min-width: 100px;
                        width: 100%;
                        padding: 10px 20px;
                        background-color: green;
                        border-radius: 12px;
                        color: #fff;
                        font-size: 18px;
                        font-weight: 400;
                    }
                }
            }
        }

        &__MusicAccount {
            width: 100%;

            &__Title {
                font-size: 32px;
                font-weight: 500;
                margin-bottom: 20px;
                padding-bottom: 10px;
                border-bottom: 1px solid #fff;
            }

            &__List {
                display: flex;
                gap: 20px;
                flex-wrap: wrap;

                &__Item {
                    max-width: 310px;
                    min-width: 150px;
                    width: 100%;
                    height: 280px;
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;

                    &__Preview {
                        width: 100%;
                        min-height: 150px;
                        height: 200px;
                        display: flex;
                        max-height: 200px;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 10px;
                        background-color: #000;
                        border-radius: 12px;

                        > img {
                            display: inline-flex;
                            max-width: 100%;
                            width: fit-content;
                            max-height: 100%;
                            height: fit-content;
                        }
                    }

                    &__Text {
                        width: 100%;
                        display: flex;

                        &__Title {
                            width: 100%;
                            font-size: 18px;
                            font-weight: 400;
                            overflow: hidden;
                            display: -webkit-inline-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                        }

                        > button {
                            max-width: 70px;
                            min-width: 30px;
                            width: 100%;
                            height: 30px;
                            position: relative;
                            display: flex;
                            gap: 5px;
                            background-color: transparent;
                            border: none;

                            > span {
                                width: 8px;
                                height: 8px;
                                background-color: #fff;
                                border-radius: 100%;
                            }

                            &:hover {
                                background-color: rgba(#fff, .1) !important;
                            }
                        }

                        &__DelBtn {
                            background-color: transparent !important;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 820px) {
    .ContentSettings {

        &__Container {
        }

        &__Wrapper {

            &__Title {
                font-size: 28px;
            }

            &__FormAccount {

                &__Title {
                    font-size: 22px;
                }

                &__Form {

                    &__Avatar {
                        flex-direction: column;
                        gap: 10px;
                        align-items: center;

                        &__Img {
                            min-width: 50px;
                            width: 50px;
                            min-height: 50px;
                            height: 50px;
                        }

                        > button {
                            padding: 5px 10px;
                        }
                    }

                    &__Name {
                        flex-direction: column;
                        gap: 10px;

                        > p {
                            font-size: 16px;
                        }

                        > input {
                            font-size: 16px;
                        }
                    }

                    &__Desc {
                        flex-direction: column;
                        gap: 10px;

                        > p {
                            font-size: 16px;
                        }

                        > textarea {
                            font-size: 16px;
                        }
                    }

                    &__Error {

                        > p {
                            font-size: 16px;
                        }
                    }

                    &__Save {

                        > button {
                            padding: 5px 10px;
                        }
                    }
                }
            }

            &__MusicAccount {

                &__Title {
                    font-size: 22px;
                }

                &__List {
                    justify-content: center;

                    &__Item {
                        max-width: 240px;

                        &__Preview {

                            > img {
                            }
                        }

                        &__Title {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 820px) {
    .ContentSettings {

        &__Container {
        }

        &__Wrapper {

            &__Title {
                font-size: 28px;
            }

            &__FormAccount {

                &__Title {
                    font-size: 22px;
                }

                &__Form {

                    &__Avatar {
                        flex-direction: column;
                        gap: 10px;
                        align-items: center;

                        &__Img {
                            min-width: 50px;
                            width: 50px;
                            min-height: 50px;
                            height: 50px;
                        }

                        > button {
                            padding: 5px 10px;
                        }
                    }

                    &__Name {
                        flex-direction: column;
                        gap: 10px;

                        > p {
                            font-size: 16px;
                        }

                        > input {
                            font-size: 16px;
                        }
                    }

                    &__Desc {
                        flex-direction: column;
                        gap: 10px;

                        > p {
                            font-size: 16px;
                        }

                        > textarea {
                            font-size: 16px;
                        }
                    }

                    &__Error {

                        > p {
                            font-size: 16px;
                        }
                    }

                    &__Save {

                        > button {
                            padding: 5px 10px;
                        }
                    }
                }
            }

            &__MusicAccount {

                &__Title {
                    font-size: 22px;
                }

                &__List {
                    justify-content: center;

                    &__Item {
                        max-width: 180px;

                        &__Preview {
                            height: 150px;

                            > img {
                            }
                        }

                        &__Title {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}