*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

html {
  line-height: 1.5;
  font-weight: 400;
  max-width: 100vw;
  width: 100%;
  max-height: 100vh;
  height: 100%;
  box-sizing: border-box;
  background-color: #242424;
}

.spin {
  display: flex;
  justify-content: center;
  align-items: center;
}